/scr/setting/config.ini
/.venv/
/.env
/.idea/
/scr/bot/accounts/session_name.session
/scr/bot/accounts/session_name (2).session
/scr/bot/accounts/session_name_1.session
/scr/setting/session_name.session-journal
/scr/log/log.log
/scr/database.db
